{%  set publicationArticles = [ {
    img: 'http://via.placeholder.com/305x181',
    title: 'Название статьи №1',
    text: 'Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.',
},{
    img: 'http://via.placeholder.com/305x181',
    title: 'Длинное название статьи №2',
    text: 'Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.',
},{
    img: 'http://via.placeholder.com/305x181',
    title: 'Длинное название статьи №3',
    text: 'Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.',
},{
    img: 'http://via.placeholder.com/305x181',
    title: 'Название статьи №4',
    text: 'Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.',
},{
    img: 'http://via.placeholder.com/305x181',
    title: 'Длинное название статьи №5',
    text: 'Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.',
},{
    img: 'http://via.placeholder.com/305x181',
    title: 'Название статьи №6',
    text: 'Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.',
}] %}
<div class="publication-list">
    {% for item in publicationArticles %}
    <div class="publication-list__item">
        <div class="publication-list__item-img">
            <!-- Размер превьюшек 305x181 -->
            <a href="{{ url.publicationShow }}"><img src="{{ item.img }}" alt="{{ item.title }}" title="{{ item.title }}"></a>
        </div>
        <div class="publication-list__item-text">
            <a href="{{ url.publicationShow }}" class="publication-list__item-name">{{ item.title }}</a>
        </div>
    </div>
    {% endfor %}
</div>
